.footer_container {
  width: 100vW;
  color: black;
  display: flex;
  flex-direction: column;
}

.shop_online {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: justify;
  margin-bottom: 60px;
  gap: 15px;
}

.highlight {
  font-weight: bold;
}

.promise {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #EFEFF1;
  padding: 0 60px;
}

.items_promise {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  padding: 0 25px;
  box-sizing: border-box;
  color: #2c2c2c;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title_promise {
  color: black;
}

.newsletter {
  width: 80%;
  display: flex;
  padding: 100px;
  align-self: center;
  color: #2c2c2c;
}

.button_container {
  width: 350px;
  height: 50px;
  background-color: #EA0029;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.newsletter_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.porcent_off {
  width: 25%;
  font-size: 23px;
  font-weight: 500;
  transform: rotate(90deg);
  color: #EA0029;
  border-top: solid 1px #EA0029;
  text-align: left;
  padding-top: 5px;
}

.mvs_text {
  font-size: 16px;
}

.text_susbribe {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  font-weight: bold;
}

.porcent_off_text {
  font-style: italic;
}

.newsletter_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button_container:hover {
  cursor: pointer;
  background-color: #131E29;
}

.text_button_susbribe {
  font-weight: bold;
}

.menu_footer_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 25px;
}

.menu_footer {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu_pay_method {
  width: 15%;
  display: flex;
  flex-wrap: wrap;
}

.title_option_list {
  width: 100%;
  text-decoration: underline;
}

.ref_item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ref_item {
  width: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_social_region{
  width: 100%;
  height: 100px;
}

@media (max-width: 1025px) {
  .shop_online{
    width: 90%;
  }
  .promise{
    height: 300px;
    width: 100%;
    gap: 50px;
    overflow-y: hidden;
  }
  .items_promise{
    /* width: 25%; */
    justify-content: flex-start;
    flex-direction: column;
    /* padding: 10px ; */
  }
  .newsletter{
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
  }
  .newsletter_left{
    padding: 10px;
    gap: 10px;
  }

  .porcent_off{
    font-size: 21px;
  }
  .text_susbribe{
    font-size: 18px;
    padding: 0;
  }
  .porcent_off_text{
    font-size: 18px;
  }
  .newsletter_right{
    padding: 20px 50px;
    text-align: center;
  }
  .menu_footer_container{
    flex-direction: column;
    gap: 25px;
  }

  .menu_footer{
    width: 100%;
    height: 40px;
    justify-content: center;
  }
  .menu_pay_method{
    width: 100%;
  }
  .menu_footer_mobile{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .view_menu_options_pay{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .menu_footer_mobile_pay{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content_btn_option_list{
    width: 100%;
    display: flex;
  }
  .title_option_list{
    width: 95%;
    text-decoration: none;
    font-size: 20px;
    justify-content: space-between;
  }
  .view_menu_options{
    width: 100%;
    height: auto;
  }
  .item_title{
    padding: 0 20px;
  }
 
  .hidden{
    display: none;
  }
}
