.home_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.topbar_market {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: red;
  font-weight: bold;
  padding: 2%;
}

.topbar_menu_left {
  width: 100%;
  display: flex;
  align-items: center;
}

.topbar_menu_item {
  border-bottom: solid 2px red;
  padding: 8px;
  cursor: pointer;
}

.topbar_menu_right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.topbar_view_all {
  align-self: center;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  color: red;
}

.topbar_view_all:hover {
  cursor: pointer;
  text-decoration: underline;
}

.topbar_arrow {
  cursor: pointer;
}

.market_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 3%;
}

.product_container {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
}

.image_container {
  position: relative;
  width: 100%;
}

.product_item_image {
  z-index: 0;
}

.tag_info_product {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 7px 4px;
  gap: 8px;
}

.current_off {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  margin: 5px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 11px;
}

.tag_wishlist_product {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
}

.arrows {
  height: 100%;
  z-index: 1;
  margin: 8px;
}

.arrow_left {
  position: absolute;
  top: 0;
  left: 0;
}

.arrow_right {
  position: absolute;
  top: 0;
  right: 0;
}

.tag_new_product_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tag_new_product {
  width: fit-content;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  border-radius: 4px;
  z-index: 1;
}

.product_sizes {
  width: 100%;
  height: 30px;
  background-color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.size_content {
  width: 10px;
  height: 10px;
  background-color: white;
  border: solid 1px black;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.size_content_select {
  background-color: black;
  color: white;
}

.description_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.description_brand {
  font-weight: bold;
  color: gray;
}

.description_product_name {
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* font-weight: bold; */
}

.price_container {
  display: flex;
  gap: 10px;
}

.description_price {
  font-size: 15px;
  font-weight: bold;
}

.description_price_last {
  color: gray;
  font-weight: normal;
  text-decoration: line-through;
}

.description_btn_add {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: solid 1px red;
  color: red;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}

.description_btn_add:hover {
  background-color: red;
  color: white;
}


@media (max-width: 1025px) {
  .product_container {
    width: 50%;
  }
}

.hidden {
  display: none;
}

.hidden_btn_add {
  width: 100%;
  height: 40px;
  border: transparent;
  color: transparent;
  background-color: transparent;
}